# Exit surveys from employees of: 
Department of Education, Training and Employment (DETE) &
Technical and Further Education (TAFE) institute
(Queensland, Australia)

## The goal:
- Are employees who only worked for the institutes for a short period of time resigning due to some kind of dissatisfaction? What about employees who have been there longer?
- Are younger employees resigning due to some kind of dissatisfaction? What about older employees?

## Data sources

### dete_survey.csv
- ID: An id used to identify the participant of the survey
- SeparationType: The reason why the person's employment ended
- Cease Date: The year or month the person's employment ended
- DETE Start Date: The year the person began employment with the DETE

### tafe_survey.csv
- Record ID: An id used to identify the participant of the survey
- Reason for ceasing employment: The reason why the person's employment ended
- LengthofServiceOverall. Overall Length of Service at Institute (in years): The length of the person's employment (in years)

### Loading data

In [2]:
# !conda install pandas -y
# !pip install pandas
import pandas as pd

In [23]:
dete = pd.read_csv('dete_survey.csv')
tafe = pd.read_csv('tafe_survey.csv')

print(f"DETE SHAPE: {dete.shape}")
print(dete.dtypes.value_counts())
print('\n')
print(f"TAFE SHAPE: {tafe.shape}")
print(tafe.dtypes.value_counts())

DETE SHAPE: (822, 56)
object    37
bool      18
int64      1
Name: count, dtype: int64


TAFE SHAPE: (702, 72)
object     70
float64     2
Name: count, dtype: int64

In [13]:
dete.head(5)

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984,2004,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,Not Stated,Not Stated,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011,2011,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,N,N,N,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005,2006,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,A,N,A,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970,1989,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,N,A,M,Female,61 or older,NaN,NaN,NaN,NaN,NaN

In [14]:
tafe.head(5)

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?,Workplace. Topic:Does your workplace promote and practice the principles of employment equity?,Workplace. Topic:Does your workplace value the diversity of its employees?,Workplace. Topic:Would you recommend the Institute as an employer to others?,Gender. What is your Gender?,CurrentAge. Current Age,Employment Type. Employment Type,Classification. Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,Yes,Yes,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
3,6.341399e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
4,6.341466e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,Yes,Yes,Yes,Yes,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4

In [39]:
null_counts = dete.isnull().sum()[dete.isnull().sum() > 0]
null_sorted = null_counts.sort_values(ascending=False)
print(null_sorted)

Torres Strait                  819
South Sea                      815
Aboriginal                     806
Disability                     799
NESB                           790
Business Unit                  696
Classification                 367
Opportunities for promotion     87
Career Aspirations              76
Wellness programs               56
Coach                           55
Further PD                      54
Workplace issue                 34
Feedback                        30
Health & Safety                 29
Gender                          24
Professional Development        14
Stress and pressure support     12
Age                             11
Skills                          11
Peer support                    10
My say                          10
Initiative                       9
Kept informed                    9
Performance of supervisor        9
Communication                    8
Worklife balance                 7
Information                      6
Staff morale                     6
Physical environment             5
Employment Status                5
Position                         5
dtype: int64

In [41]:
null_counts = tafe.isnull().sum()[tafe.isnull().sum() > 0]
null_sorted = null_counts.sort_values(ascending=False)
print(null_sorted)

Main Factor. Which of these was the main factor for leaving?                                       589
InductionInfo. Topic:Did you undertake a Corporate Induction?                                      270
Contributing Factors. Job Dissatisfaction                                                          265
Contributing Factors. NONE                                                                         265
Contributing Factors. Other                                                                        265
                                                                                                  ...
InstituteViews. Topic:7. Management was generally supportive of me                                  88
InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had     87
Induction. Did you undertake Workplace Induction?                                                   83
CESSATION YEAR                                                                                       7
Reason for ceasing employment                                                                        1
Length: 69, dtype: int64

### Notes

- Each datasource has a lot of columns which can equate to a lot of data to get insights
- There's around 800 records
- Some columns have quite a lot of missing data